* {
  background-color: palevioletred;
}

.App {
  text-align: center;
}

.city {
  font-size: 45px;
  font-weight: bold;
  text-align: center;
}

.tempo {
  font-size: 80px;
  font-weight: bold;
  margin-top: -10px;
}

.percepiti {
  font-style: italic;
}

.alert {
  width: 100%;
}
