* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Merriweather", serif;
}

.App {
  text-align: center;
}

.city {
  font-size: 45px;
  font-weight: bold;
  text-align: center;
}

.percepiti {
  font-style: italic;
}

.tempo {
  font-size: 80px;
  font-weight: bold;
  margin-top: -10px;
}

.alert {
  width: 100%;
}

.forecast {
  margin-top: 40px;
}

.forecast-day {
  background-color: aliceblue;
  color: black;
  opacity: 50%;
  padding-block: 20px;
}
